body{
background-color: beige;
}
h1{
    font-family:monospace;
    color: rgb(91, 158, 212);
text-align:center;
}
.link{
     position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 15px;
  font-size: 15px;
}
.image{
    top:175px;
left:925px;
width: 100px;
bottom:40px;
border: 2px;
border-color: black;
position:absolute; 
}
.pretty{
text-align: left;
width: 775px;
}
.Youtube{
    position:absolute;
    left:15px;
    top:750px;
    width:100px;
    bottom:40px;
}
.right{
    color:rgb(11, 11, 69);
    font-style: italic;
    top: 750px;
    position:absolute;
    left: 600px;
    width: 600px;
    bottom:40px;
}
.last{
    font-size: 20px;
    top: 1100px;
    position:absolute;
    left:15px;
    width:300px;
    bottom:40px;
}
.header{
    
    top: 1025px;
    position:absolute;
    left:15px;
    width:300px;
    bottom:40px;
    font-size: 40px;
}
.tableauPlaceholder{
    top:325px;
    position:absolute;
bottom: 40px;
left: 325px;
}
.link{
    text-align: center;
  

 width: 150px;
 font-size: 10px;
 top:0px;
 left:1100px;
 position:absolute;
    
}
.center{
    text-align: center;
    position: absolute;
    top:700px;
    left:400px;
  font-weight: bold;
  font-style: italic;
}
.header1
{
    top:55px;
    position:absolute

}
